.vocal-assistance-main {
  background-color: var(--color-white);
  filter: var(--drop-shadow);
  margin: 20px 0px;
  padding: 30px;
  border-radius: 8px;
}
.vocal-assistance-divider p {
  color: var(--color-muted) !important;
  margin: 0px;
  font-weight: 400;
}
.generate-with-ai-btn{
    display: flex;
    align-items: center;
justify-content: center;
}
.vocal-assistance-response{
word-wrap: break-word;
}
.generate-with-ai-btn img{
    margin-right: 10px;
}
.generate-with-ai-icon img{
    margin-left: 10px !important;
}

@keyframes animloader {
  0% {
    box-shadow: 6px -2px, 14px 2px, 22px 0px; /* Slightly increased horizontal distances */
  }
  25% {
    box-shadow: 6px 0px, 14px 0px, 22px 2px; /* Slightly increased horizontal distances */
  }
  50% {
    box-shadow: 6px 2px, 14px -2px, 22px 0px; /* Slightly increased horizontal distances */
  }
  75% {
    box-shadow: 6px 0px, 14px 0px, 22px -2px; /* Slightly increased horizontal distances */
  }
  100% {
    box-shadow: 6px -2px, 14px 2px, 22px 0px; /* Slightly increased horizontal distances */
  }
}
.inline-generate-btn{
    
    margin-top: 0px !important;
    background-color: var(--color-accent);
    padding: 0px 5px;
    color: white;
    cursor: pointer;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vocal-assistance-text-input .ant-input-group-addon
{
    padding: 0px !important;
    background-color: var(--color-accent);
    
}
.chat-loader {
  width: 5px;
  height: 5px;
  display: inline-block;
  position: relative;
  left: -10px;
  top: 4px;
  border-radius: 4px;
  color: #ffffff;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
  margin-bottom: 10px;
}
.vocal-assistance-upload-label {
  font-size: 24px;
  color: var(--color-accent);
  font-weight: 600;
  margin: 0px;
  margin-bottom: 10px;
  text-align: left;
}
.vocal-assistance-ai-generator {
    box-shadow: 0 0 30px var(--color-accent);
    background-color: var(--color-white);
    margin: 20px 0px;
    padding: 30px;
    border-radius: 8px;
    animation: glow 2s infinite alternate; /* Apply the animation */
  }
  
  @keyframes glow {
    0% {
        box-shadow: 0 0 20px var(--color-accent-light), 0 0 50px var(--color-accent-light);
    }
    100% {
      box-shadow: 0 0 0px var(--color-accent-light), 0 0 0px var(--color-accent-light);
    }
  }
  

@media screen and (max-width: 576px) {
  .vocal-assistance-main {
    padding: 15px 0px;
    filter: none;
  }
}
