.courses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.courses-current-tech {
  color: var(--color-muted);
  font-family: 12px;
  padding: 0px;
  margin: 0px;
}

.courses-seach-bar {
  width: 300px;
}
@media screen and (max-width: 560px) {
  .courses-header {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  .courses-seach-bar {
    width: 100%;
  }
}