.landing-page-img {
    width: 100%;
  }
  .landing-page {
    height: 500px;
    display: flex;
    align-items: center;
  }
  .landing-page-text-span {
    padding: 0px 40px;
  }
  .landing-page-heading {
    font-size: 36px;
    font-weight: 600;
    margin: 0px;
  }
  .landing-page-description {
    margin: 0px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: var(--color-dark);
  }
  
  .two-tone-white {
    color: var(--color-dark);
  }
  
  .two-tone-accent {
    color: var(--color-accent);
  }
  
  @media screen and (max-width: 992px) {
    .landing-page-heading {
      font-size: 28px;
    }
    .landing-page-description {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 768px) {
    .landing-page-text-span {
      padding: 0px 0px;
      text-align: center;
      margin-bottom: 40px;
    }
    .landing-page-img {
      width: 80%;
    }
  }
  