.badge-sm {
  width: 18px;
  height: 18px;
}

.badge-md {
  width: 24px;
  height: 24px;
}

.badge-lg {
  width: 32px;
  height: 32px;
}

.badge-xl {
  width: 48px;
  height: 48px;
}

.badge-xxl {
  width: 60px;
  height: 60px;
}
