.result-description{
    color: var(--color-muted);
}
.result-description-text{
    margin-left: 10px;
    margin-right: 20px;
    font-weight: 500;
}
.result-description p{
    display: flex;
    align-items: center;
    margin-bottom: 0px !important;
}
.ant-modal-footer{
    margin-top: 0px !important;
}
.result-details{
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}
.result-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width:568px){
    .result-main{
        display: block;
        text-align: center;
    }
}
.result-main .ant-progress-text
{
    font-weight: 600 !important;
    color: var(--color-muted) !important;
}

.option-item{
    margin-top: 5px ;
    margin-bottom: 0px;
}