.roadmap-landing-img {
  width: 100%;
}
.roadmap-landing {
  margin: 120px 0px;
}
.roadmap-landing-text-span {
  padding: 0px 40px;
}
.roadmap-landing-heading {
  font-size: 36px;
  font-weight: 600;
  margin: 0px;
}
.roadmap-landing-description {
  margin: 0px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: var(--color-dark);
}

.two-tone-white {
  color: var(--color-dark);
}

.two-tone-accent {
  color: var(--color-accent);
}

@media screen and (max-width: 992px) {
  .roadmap-landing-heading {
    font-size: 28px;
  }
  .roadmap-landing-description {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .roadmap-landing-text-span {
    padding: 0px 0px;
    text-align: center;
    margin-bottom: 40px;
  }
  .roadmap-landing-img {
    width: 80%;
  }
}
