.reactflow-container {
  height: 80vh; /* Full viewport height */
}
.roadmap-display-main{
    background-color:rgb(248, 248, 248);
    padding-top: 10px;
}

.roadmap-display-image img {
  margin-top: 10%;
  width: 95%;
}
.roadmap-display-image {
  text-align: center;
}

.roadmap-display-header-row {
  background-color: var(--color-white);
  border-radius: 8px;
  filter: var(--drop-shadow);
  margin: 10px 0px;
  padding: 15px 15px;
  display: flex;
  align-items: center;
}
.roadmap-display-header-goal {
  margin: 0px;
  color: var(--color-accent);
  font-weight: 500;
  font-size: 24px;
  /* margin-bottom: 10px; */
}
.roadmap-display-header-progress{
    margin-top: 5px;
}
.roadmap-display-header-completion{
    font-weight: 300;
    color: var(--color-muted);
}
.roadmap-display-header-icons-col{
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;

}
.roadmap-dropdown-button{
    margin-right: 10px;
    font-weight: 400;
    color: var(--color-muted);
    border: 1px solid var(--color-accent);
}
.roadmap-display-header-icon-regenerate{
    margin-right: 10px;
    cursor: pointer;
}
.roadmap-display-header-icon-delete{
    cursor: pointer;
}
.ant-btn-primary{
    background-color: var(--color-accent) !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.roadmap-display-header-icons{
    display: flex;
    align-items: center;
}
@media screen and (max-width:1200px){
    .roadmap-display-header-icons-col {
        margin: 10px 0px;
      }
}
@media screen and (min-width:576px) and (max-width:992px){
    

.roadmap-display-image img {
    margin-top: 0px;
    width: 70%;
  }
}
@media screen and (max-width:576px){
    .roadmap-display-header-icons-col {
        display: flex;
        flex-direction: column;
      }
      .roadmap-dropdown-button{
        width: 100%;
        margin-bottom: 5px;
      }
      .roadmap-display-header-goal-col{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .reactflow-container{
        overflow-x: auto;
      }
}
@media screen and (max-width:375px){
    .roadmap-display-header-goal {
        font-size: 20px;
      }
}