.leaderboard-avatar {
  margin-right: 5px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.leaderboard-name {
  display: flex;
  align-items: center;
}
.leaderboard-table .ant-table-cell {
  padding: 10px !important;
  cursor: pointer;
}
.leaderboard-main {
  max-width: 1200px;
  width: 100%;
  background-color: white;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.074));
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}
/* styles/Leaderboard.css */
.leaderboard-table .ant-table-row:nth-child(odd) {
  background-color: #f9f9f9; /* Light gray background for odd rows */
}
.ant-select-selection-item{
    color: var(--color-dark) !important;
}
.leaderboard-table .ant-table-row:nth-child(even) {
  background-color: #ffffff; /* White background for even rows */
}
.leaderboard-table-single .ant-table-cell {
  padding: 10px !important;
}
.leaderboard-table-single {
  margin-bottom: 20px;
}
.leaderboard_icon {
  margin-left: 10px;
}
.leaderboard-rank {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-table-cell {
  color: var(--color-dark) !important;
}
.leaderboard-select {
  margin-bottom: 0px;
  text-align: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leaderboard-select .ant-select-selector {
  width: 250px !important;
  text-align: center !important;
}
.leaderboard-title{
    color: var(--color-accent);
    font-size: 20px;
    font-weight: 600;
}