.online-members-icon {
  cursor: pointer;
}
.online-members-icon img {
  height: 15px;
}

.online-member-menu-title{
    color: var(--color-dark);
}
.online-member-collapse-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-weight: 400 !important;
    font-size: 14px;
}


.online-member-collapse .ant-collapse-header{
    padding: 5px 8px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center; 
    background-color: transparent !important;
}
.online-member-collapse .ant-collapse-content-active{
    padding: 0px !important;
}
.online-member-collapse .ant-collapse-content-box{
    padding: 5px !important;
}

.ant-collapse-expand-icon{
    color: #BFBFBF !important;
}
.online-members-list .email
{
    font-weight: 400 !important;
    font-size: 14px;
}
.online-member-item {
    padding: 5px 0px !important;
}
.online-member-item .ant-list-item-meta{
    display: flex !important;
    align-items: center !important;
    justify-content: center; 
}
.collapse-arrow {
    transition: transform 0.3s;
    height: 7px;
  }
  
  .collapse-arrow.expanded {
    transform: rotate(180deg);
  }