.tribe-popover-content-btns{
    display: flex;
    align-items: center;
    width: 200px;
    margin:  0px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
.tribe-popover-content-btns span{
margin-left: 15px;
color: var(--color-dark);

}
.tribe-popover-content-btns:hover{
    background-color: var(--color-light-accent);
}