.tribe-explore-main{
    margin-bottom: 20px;
    text-align: end;
}
.tribe-explore-select{
    width: 250px !important;
    text-align: center !important;
}
.tribe-explore-row{
    text-align: left;
}