.t-t-header-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.t-t-delete-thread-icon{
cursor: pointer;
}
.t-t-header-goal-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.t-t-header-goal {
  margin: 0px;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 20px;
}
.t-t-header-description{
    font-size: 10px;
    font-weight: 400;
    color: var( --color-muted);
}
.t-t-header-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
}
.tribe-member-list-item
{
    font-size: 12px;
    font-weight: 400;
    color: var( --color-muted);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
@media screen and (max-width: 375px) {
  .t-t-header-goal {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .t-t-header-goal {
    font-size: 16px;
  } 
  .t-m-content-message{
    font-size: 11px;
  }
  .t-m-content-member_name{
    font-size: 11px;
  }
  .tribes-message {
    margin-top: 10px;
  }
}
.tribe-member-list{
    min-width: 170px;
}
.tribe-member-list .ant-divider{
    margin: 5px 0px !important;
}
.tribe-member-list .title{
    margin: 0px;
    font-weight: 600;
    color: var(--color-dark);
}
.t-t-container {
  height: calc(100vh - 100px);
  background-color: var(--color-white);
  border-radius: 8px;
  filter: var(--drop-shadow);
  margin: 10px 0px;
  padding: 15px 15px;
}

.t-t-messages-box {
  background-color: #fafafa9f;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  overflow-y: auto;
  height: 80%;
   --s: 200px; /* control the size*/
  --c1: #ffffff;
  --c2: #f9fffe;
  --c3: #fcffff;
  
  background:
    repeating-conic-gradient(from 30deg,#8ffff900 0 120deg,var(--c3) 0 50%) 
     calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
  background-size: var(--s) calc(var(--s)*tan(30deg));
}
.tribes-message {
  display: flex;
  transition: none; 
  /* align-items: center; */
  margin-bottom: 10px;
  max-width: 100%;

}

.t-m-left {
  flex-direction: row;
  justify-content: flex-start;
}

.t-m-right {
  flex-direction: row-reverse;
  justify-content: end;
}
.t-m-right .t-m-content-member_name{
text-align: end;
}

.t-m-avatar {
  margin: 0 10px;
  margin-top: 20px;
}
.t-m-avatar img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-size: cover;
}

.t-m-content p{
    margin: 0px;
    color: var(--color-dark);
}
.t-m-content-member_name{
    font-weight: 500;
    margin-left: 5px;
}
.t-m-content {
}
.t-m-content-message{
    background-color: #ededed ;
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
}
.t-m-content-time{
    font-size: 10px;
    color: var(--color-muted);
  
}
.t-m-right .t-m-content-time{
text-align: end;
}

/* .t-m-right .t-m-content {
  background-color: #d1eaff;
} */

.t-t-input-row {
  display: flex;
  margin-top: 10px;

}

.tribe-thread-elipsis-icon{
    cursor: pointer;
}
.t-t-input {
  flex-grow: 1;
  margin-right: 8px;
  margin-top: 10px;
  height: 40px !important;
}


@media screen and (max-width: 992px) {
    /* .t-t-messages-box {
        min-height: 600px; 
        max-height: 600px; 
      } */
  }
@media screen and (max-width: 992px) {
    .t-t-container {
      height: calc(100vh - 211px);

    }
  }

  @media screen and (max-width: 576px) {
    .t-t-container {
      height: calc(100vh - 231px);

    }
      .t-m-content-message{
        max-width: 250px;
    }
  }  @media screen and (max-width: 420px) {
      .t-m-content-message{
        max-width: 200px;
    }
  }