.tribe-admin-options
{
    cursor: pointer;

}
.tribe-admin-options p{
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
}
.tribe-admin-options p:hover{
    background-color: var(--color-light-accent);
}
.tribe-admin-options .anticon{
    margin-right: 10px;
}
.tribe-chat-admin-icon{
    padding: 0px;
    padding-left: 5px;
}
.tribe-admin-options p{
color: var(--color-dark);
font-weight: 500;
}