.t-t-header-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.t-t-delete-thread-icon{
cursor: pointer;
}
.t-t-header-goal-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.t-t-header-goal {
  margin: 0px;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 20px;
}
.t-t-header-description{
    font-size: 10px;
    font-weight: 400;
    color: var( --color-muted);
}
@media screen and (max-width: 375px) {
  .t-t-header-goal {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .t-t-header-goal {
    font-size: 16px;
  } 
  .t-m-content-message{
    font-size: 11px;
  }
  .t-m-content-member_name{
    font-size: 11px;
  }
  .tribes-message {
    margin-top: 10px;
  }
}

.t-t-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Makes sure it takes full height */
  background-color: var(--color-white);
  border-radius: 8px;
  filter: var(--drop-shadow);
  margin: 10px 0px;
  padding: 15px 15px;
}

.t-t-messages-box {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  overflow-y: auto;
  min-height: 400px; /* Ensure it maintains 500px height */
  max-height: 400px; /* Prevents it from expanding beyond 500px */
}

.tribes-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-width: 100%;

}

.t-m-left {
  flex-direction: row;
  justify-content: flex-start;
}

.t-m-right {
  flex-direction: row-reverse;
  justify-content: end;
}
.t-m-right .t-m-content-member_name{
text-align: end;
}

.t-m-avatar {
  margin: 0 10px;
}

.t-m-content p{
    margin: 0px;
    color: var(--color-dark);
}
.t-m-content-member_name{
    font-weight: 500;
    margin-left: 5px;
}
.t-m-content {
}
.t-m-content-message{
    background-color: #f5f5f5 ;
    padding: 10px;
    border-radius: 8px;
}
.t-m-content-time{
    font-size: 10px;
    color: var(--color-muted);
}

/* .t-m-right .t-m-content {
  background-color: #d1eaff;
} */

.t-t-input-row {
  display: flex;
  margin-top: 10px;
}
.tribe-thread-elipsis-icon{
    cursor: pointer;
}
.t-t-input {
  flex-grow: 1;
  margin-right: 8px;
  margin-top: 10px;
}


@media screen and (max-width: 992px) {
    .t-t-messages-box {
        min-height: 600px; 
        max-height: 600px; 
      }
  }

  @media screen and (max-width: 576px) {
    .t-t-messages-box {
        min-height: 500px; 
        max-height: 500px; 
      }
  }