.tribe-explore-main{
    margin-bottom: 20px;
    text-align: end;
}
.tribe-explore-select{
    width: 250px !important;
    text-align: center !important;
    margin-bottom: 20px;
}
.tribe-explore-row{
    text-align: left;
}
.ant-select-in-form-item{
    margin-bottom: 0px !important;
}
.ant-form-item{
    margin-bottom: 5px !important;
}
.tribe-explore-heading{
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-accent);
}