.t-t-header-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.t-t-delete-thread-icon {
  cursor: pointer;
}
.t-t-header-goal-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.t-t-header-goal {
  margin: 0px;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 20px;
}
.t-t-header-description {
  font-size: 10px;
  font-weight: 400;
  color: var(--color-muted);
}
.t-t-header-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}
.tribe-member-list-item {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-muted);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 375px) {
  .t-t-header-goal {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .t-t-header-goal {
    font-size: 16px;
  }
  .t-m-content-message {
    font-size: 11px;
  }
  .t-m-content-member_name {
    font-size: 11px;
  }
  .tribes-message {
    margin-top: 10px;
  }
}
.tribe-member-list {
  min-width: 170px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
}
.tribe-member-list .ant-divider {
  margin: 5px 0px !important;
}
.tribe-member-list .title {
  margin: 0px;
  font-weight: 600;
  color: var(--color-dark);
}
.t-t-container {
  height: calc(100vh - 100px);
  background-color: var(--color-white);
  border-radius: 8px;
  filter: var(--drop-shadow);
  margin: 10px 0px;
  padding: 15px 15px;
}

.t-t-messages-box {
  background-color: #fafafa9f;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  overflow-y: auto;
  height: 80%;
  background: linear-gradient(135deg, #ffffff 25%, transparent 25%),
    linear-gradient(45deg, #ffffff 25%, transparent 25%),
    linear-gradient(
      135deg,
      transparent 24%,
      #f5fdff 25%,
      #f5fdff 30%,
      transparent 31%,
      transparent 39%,
      #f5fdff 40%,
      #f5fdff 45%,
      transparent 45%
    ),
    linear-gradient(
      45deg,
      transparent 24%,
      #f5fdff 25%,
      #f5fdff 30%,
      transparent 31%,
      transparent 39%,
      #f5fdff 40%,
      #f5fdff 45%,
      transparent 45%
    );
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1;
}
.tribes-message {
  display: flex;
  transition: none;
  /* align-items: center; */
  margin-bottom: 10px;
  max-width: 100%;
}

.t-m-left {
  flex-direction: row;
  justify-content: flex-start;
}

.t-m-right {
  flex-direction: row-reverse;
  justify-content: end;
}
.t-m-right .t-m-content-member_name {
  text-align: end;
}

.t-m-avatar {
  margin: 0 10px;
  margin-top: 20px;
}
.t-m-avatar img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-size: cover;
}

.t-m-content p {
  margin: 0px;
  color: var(--color-dark);
}
.t-m-content-member_name {
  font-weight: 500;
  margin-left: 5px;
}
.t-m-content {
}
.t-m-content-message {
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 8px;
  max-width: 400px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.064));
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
.t-t-ban-tag {
  display: flex;
  flex-wrap: wrap; /* Allows content to wrap if needed */
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4px;
  height: auto !important;
  white-space: normal; /* Make sure text can wrap */
  text-align: center;
  padding: 8px; /* Optional: Adds better spacing */
}

.t-m-right .t-m-content-time {
  text-align: end;
}

/* .t-m-right .t-m-content {
  background-color: #d1eaff;
} */

.t-t-input-row {
  display: flex;
  margin-top: 10px;
}

.tribe-thread-elipsis-icon {
  cursor: pointer;
}
.t-t-input {
  flex-grow: 1;
  margin-right: 8px;
  margin-top: 10px;
  height: 40px !important;
}

.t-m-content-time {
  font-size: 10px;
  margin-top: 3px;
  color: var(--color-muted);
}

@media screen and (max-width: 992px) {
  /* .t-t-messages-box {
        min-height: 600px; 
        max-height: 600px; 
      } */
}
@media screen and (max-width: 992px) {
  .t-t-container {
    height: calc(100vh - 300px);
  }
}

@media screen and (max-width: 576px) {
  .t-t-container {
    height: calc(100vh - 300px);
  }
  .t-m-content-message {
    max-width: 250px;
  }
}
@media screen and (max-width: 420px) {
  .t-m-content-message {
    max-width: 200px;
  }
}
