.settings-heading {
  font-weight: 600;
  color: var(--color-dark);
  margin-bottom: 7px;
}
.settings-main {
  margin-bottom: 20px;
  max-width: 600px;
  width: 100%;
  background-color: white;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.074));
  padding: 20px 30px;
  border-radius: 10px;
}
.settings-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.settings-profile-image {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 8px;
}
.profile-image-container {
  display: flex;
  align-items: center;
}
.blind-mode-switch {
  margin-right: 10px;
}

.setting-label {
  color: var(--color-muted);
  margin: 8px 0px;
  margin-right: 10px;
  font-size: 16px;
}
.setting-input {
  border: 1px solid var(--color-muted);
  padding: 5px;
  margin: 3px 0px;
  width: 250px !important;
  height: 40px !important;
  border-radius: 4px;
  color: var(--color-dark);
}
#settings-buttons {
  margin-top: 20px;
}
#settings-buttons .save {
    border: transparent;
    background-color: var(--color-accent);
    border-radius: 8px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    width: 100%;
    font-size: 16px;
}
#settings-buttons .discard {
  background-color: transparent;
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  width: 100%;
  color:var(--color-accent);
  padding: 5px 15px;
  text-align: center;
  font-size: 16px;
}
#settings-buttons .save:hover {
    background-color: var(--color-accent-hover);
    border: none;
    cursor: pointer;
    transition: all;
    transition-duration: 300;
  }
  #settings-buttons .discard:hover {
    background-color: var(--color-light-accent);
    cursor: pointer;
}
.setting-item {
  display: flex;
  align-items: center;
}
.settings-github-link p {
  margin: 0px;
  margin-right: 10px;
}
.settings-github-link {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.setting-linked-row {
  display: flex;
  align-items: center;
}
.settings-github-link-btn {
  background-color: var(--color-accent);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

  
@media screen and (max-width: 568px) {
  .settings-buttons button {
    width: 48% !important;
  }
  .settings-buttons {
    text-align: center;
  }
}
