.settings-heading {
  font-weight: 600;
  color: var(--color-dark);
  margin-bottom: 7px;
}
.settings-main{
    margin-bottom: 20px;
}
.settings-profile-image {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.profile-image-container {
  display: flex;
  align-items: center;
}

.setting-label {
  color: var(--color-muted);
  margin: 8px 0px;
  margin-right: 10px;
  font-size: 16px;
}
.setting-input {
  border: 1px solid var(--color-muted);
  padding: 5px;
  margin: 3px 0px;
  width: 250px;
  border-radius: 4px;
  color: var(--color-dark);
}
.settings-buttons{
    margin-top: 20px;
}
.setting-item{

    display: flex;
    align-items: center;
}

@media screen and (max-width:568px){
    .settings-buttons button{
        width: 48% !important;
    }
    .settings-buttons{
        text-align: center;
    }
}