
:root {
    --color-deep-dark: #001210; 
    --color-dark: #383655;
    --color-white: #ffffff;
    --color-light-gray: #e1e3ef;
    --color-accent: #45d2c9;
    --color-light-accent: #e7f5f5;
    --color-muted: #aeafbe;
  }
  

.generic-container {
    max-width: 1400px;       /* Default padding for small screens */
    margin: 0 auto;     
    padding-left: 10px; 
    padding-right: 10px; 
  }
  
  @media (min-width: 576px) {
    .generic-container {
      padding-left: 20px; 
      padding-right: 20px; 
    }
  }
   
  @media (min-width: 768px) {
    .generic-container {
      padding-left: 30px; 
      padding-right: 30px; 
    }
  }
  @media (min-width: 992px) {
    .generic-container {
      padding-left: 40px; 
      padding-right: 40px; 
    }
  }
  @media (min-width: 1200px) {
    .generic-container {
      padding-left: 70px; 
      padding-right: 70px; 
    }
  }
  @media (min-width: 1400px) {
    .generic-container {
      padding-left: auto; 
      padding-right: auto; 
    }
  }
/* const alignOptions = ['flex-start', 'center', 'flex-end'];
const justifyOptions = [ 'flex-start', 'center', 'flex-end', 'space-between', 'space-around', 'space-evenly',]; */
