.onboarding-answer-main {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 500px;
}
.onboarding-main-inner {
  width: 700px;
  display: flex;
  flex-direction: column;
}
.onboarding-answer {
  cursor: pointer;
  margin: 5px;
  color: var(--color-muted) !important;
  border-color: var(--color-muted) !important;
}

.onboarding-main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0px 0px 0px;
  height: 250px;
}
.onboarding-prev-main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px 0px 10px 0px;
  }
.onboarding-prev{
    rotate: 180deg;
    margin-right: 5px;
}
.prev-icon{
    rotate: 180deg;
}
.prev-btn{
    display: flex;
    align-items: center;
    color: var(--color-muted);
    cursor: pointer;
}
.onboarding-answer-outer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media screen and (max-width: 830px) {
  .onboarding-answer-main {
    width: 500px;
  }
  .onboarding-main-inner {
    width: 600px;
  }
}
@media screen and (max-width: 640px) {
  .onboarding-answer-main {
    width: 400px;
  }
  .onboarding-main-inner {
    width: 500px;
  }
  
  .onboarding-main {
    height: 330px;
  }
}
@media screen and (max-width: 520px) {
  .onboarding-answer-main {
    width: 350px;
  }
  .onboarding-main-inner {
    width: 400px;
  }
  .onboarding-question {
    max-width: 300px;
    white-space: normal;
    word-break: break-word;
  }
  .onboarding-main {
    height: 380px;
  }
  
}
@media screen and (max-width: 430px) {
  .onboarding-answer-main {
    width: 350px;
  }
  .onboarding-question {
    max-width: 280px;
  }
  .onboarding-main-inner {
    width: 360px;
  }
}
